body {
  margin: 0;
  padding: 0;
  margin-block: 0;
  padding-block: 0;
}

.info{
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: hsla(338, 73%, 41%, 1);
    height: 5px;
    padding-top: 5px;
    margin: 0;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 250px;
    
}
@media only screen and (min-width: 500px) {

  .info {
    font-size: 20px;
    margin-bottom: 120px;
    
}
  }

.info h1{

    color: hsla(338, 73%, 41%, 1);
    text-decoration: none;
    text-underline-offset: 0;
    cursor: pointer;
    
}

.social img{
    color: hsl(0, 98%, 39%);
    padding-left: 10px;
    margin: 10px
    margin-block: 200px;
    margin: 30px;
    width: 25%;
   
}
.social img{

    color: hsl(0, 98%, 39%);
    padding-left: 10px;
    margin: 10px
    margin-block: 200px;
    margin: 30px;
    width: 25%;
   
}
.socialdic h3{
  width: 100%;
  margin: 40px;
}

.catalog{
    margin-top:  90px;
    width: 100%;
    margin-left: 10px;
    height: 4px;
    border-radius: 2%;
    border: 2px solid hsla(338, 93%, 81%, 1);
    background-color: hsla(338, 73%, 41%, 1);
}

@media only screen and (min-width: 500px) {

  .discription {
    display: none;
  }
}
.catalog h1{

    width: 100%;
    margin-top: 5px;
    text-align: left;
    font-size: 30px;
    margin-left: 10px;
    font: sans-serif;
    height: 10px;
}
@media only screen and (min-width: 500px) {
  .catalog h1 {
    height: 100px;
  }
}
@media only screen and (max-width: 500px) {
  .catalog {
    height: 50px;
    
  }
}
@media only screen and (min-width: 500px) {
  .catalog {
    height: 50px;
    
  }
}

body{
    padding: 0;
    margin: 0;  
    margin-block: 1px;
}

.Featuredlist{
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

 .Blocks {
    align-items: center;
    padding-top: 10px;
    box-shadow: 20px;
    border-radius: 50%;
    margin-block: 19px;
    margin-block-end: 100;
    width: 100%;
    
}

.Blocks img{
    align-items: center;
    width: 78%
    border-radius: 90px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid hsla(338, 73%, 41%, 1);
    display: block;
}
@media only screen and (min-width: 500px) {

  .Blocks img {
    width: 95%;
    padding: 5px;
    margin-top: 25px;
    border-radius: 20px;
  }
}
@media only screen and (max-width: 500px) {

  .Blocks img {
    border-radius: 20px;
    padding: 5px;
    box-shadow: 2px;
  }
}
@media only screen and (max-width: 500px) {

  .discription {
    display: none;
  }
}


@media only screen and (min-width: 500px) {
  .discription h3{
    width: 10%;
    padding: 5px;
    margin-block: 12px;
    margin-top: 2px;
  }
}
.Blocks h1{
    
    padding-top: 5px;
    text-align: center;
    padding-bottom: 5px;
    background-color: hsla(338, 73%, 41%, 1);
    font-size: 20px;
    color: white;
    border-radius: 5% 10% 15%;
    width: 78%;
    border: 5px solid black;
    margin-left: auto;
    display: block;
    margin-right: auto;

}

@media only screen and (min-width: 500px) {

  .Blocks h1 {
    width: 100%;
    padding: 5px;
    margin-top: 25px;
  }
}
@media only screen and (min-width: 500px) {

  Body {
    width: 100%;
    margin: 0;
    margin-block: 10px;
    padding: 5px;
    margin-top: 25px;
  }
}
@media only screen and (max-width: 500px) {
  .Featuredlist {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

.discription h3{
   margin-left: 50px
   padding: 15px;
   text-decoration: none;
   text-align: center;
   text-underline-offset: 0;
   cursor: pointer;
   font-size: 15px;
   margin-block: 20px;
   margin-right 50px;
   width: 100%;
   color: white;
   display: block;
   margin-bottom: 80px;
   margin-left: 5px;
  margin-right: 5px;
}
.subme img{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: block;
  position: absolute;
  padding-top: 140px;
  margin-left: 15px;
  padding-left:10px;
  height: auto;
  padding-bottom: 100px
  margin-block: 10px;
  width: 15%;
  color: white;
  cursor: pointer;
  
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.subme h3{

  margin-top: 200px;
  position: absolute;
  margin-right: 90px;
  margin-left: 18px;
  width: 100%;
  color: hsla(338, 73%, 41%, 1);
  
}

.followme img{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: block;
  position: absolute;
  padding-top: 130px;
  margin-left: 80%;
  padding-left:10px;
  height: auto;
  padding-bottom: 100px
  margin-block: 10px;
  width: 13%;
  color: white;
  cursor: pointer;

}
@media only screen and (min-width: 500px) {

  .followme img {
    width: 10%;
    padding: 5px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 500px) {

  .subme img {
    width: 13%;
    padding: 5px;
    margin-left: 70px;
    margin-top: 25px;
  }
}

.followme h3{
  
  margin-top: 200px;
  position: absolute;
  margin-right: 80%;
  margin-left: 80%;
  width: 20%;
  color: hsla(338, 73%, 41%, 1);
  border-radius: 10px;
}
@media only screen and (min-width: 500px) {
  .followme h3 {
    display: none;
  }
}
@media only screen and (min-width: 500px) {

  .subme h3 {
    display: none;
  }
}



}
@media only screen and (min-width: 500px) {

  .Featuredlist { 
    width: 40%;
    padding: 1em;
    margin: 2px;
    margin-block: 10px;
    font-size: 40px;
  }
}
@media only screen and (min-width: 500px) {



  .discription { 
    width: 40%;
    padding: 1em;
    margin: 2px;
    margin-block: 10px;
    font-size: 40px;
  }
}
